html {
  font-family: sans-serif;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.logo {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}
.logo span {
  color: grey;
  font-weight: lighter;
}
.options {
  display: flex;
  margin-right: 16px;
}
.options h3 {
  margin-left: 8px;
  margin-right: 8px;
}
.banner {
  width: 100%;
  border: 1px solid orange;
  background-image: linear-gradient(to top, white, black);
  display: flex;
}
.content {
  margin: 32px 0px 32px 24px;
  display: flex;
}
.bannerimg {
  width: 60%;
}
.banner img {
  width: 100%;
  height: ;
}
.bannertext {
  width: 30%;
  margin-left: 48px;
  align-self: center;

}
.banner h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0.8px 0.8px white;
}
.banner h1 span {
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px black;
  text-decoration-color: black;
}
.banner h1 span:hover {
  text-decoration: underline;
  color: black;
  text-shadow: 0.8px 0.8px white;
  text-decoration-color: white;
  transition: color 0.3s linear 0s;
}
.banner h2 {
  font-size: 2rem;
  margin-top: 5px;
}
.banner button {
  margin-top: 15px;
  padding: 15px 38%;
  border-radius: 5px;
}




video {
  width: 60%;
}
