html {
  font-family: sans-serif;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: gold;
  text-shadow: 0.8px 0.8px black;
}
.logo {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}
#MOBILE {
  display: none;
}
.logo span {
  color: grey;
  font-weight: lighter;
}
.options {
  display: flex;
  margin-right: 16px;
}
.options h3 {
  margin-left: 8px;
  margin-right: 8px;
}
.banner {
  background-image: linear-gradient(to top, white, black);
  display: flex;
  margin-bottom: 32px;
}
.bannerimg {
  width: 60%;
  margin-left: 24px;
}
.banner img {
  width: 100%;
}
.bannertext {
  width: 30%;
  margin-left: 40px;
  align-self: center;

}
.banner h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0.8px 0.8px white;
}
.banner h1 span {
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px black;
  text-decoration-color: black;
}
.banner h1 span:hover {
  text-decoration: underline;
  color: black;
  text-shadow: 0.8px 0.8px white;
  text-decoration-color: white;
  transition: color 0.3s linear 0s;
}
.banner h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'lobster', "cursive";
  text-shadow: 0.8px 0.8px gold;
  font-weight: ;
  text-align: right;
  visibility: ;
}
.bannertext:hover  .bannertext h2 {
  visibility: visible;
  transition: visible 0.3 linear 0s;
}
.banner button {
  margin-top: 15px;
  padding: 8px 38%;
  border-radius: 5px;
  font-size: 1.2rem;
}
.news {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
.mainnews {
  max-width: 60%;
  margin-left: 24px;
}
.mainnews h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0.8px 0.8px gold;
}
.mainnews h2 {
  font-family:"cursive";
  line-height: 1.2;
}
.newsimg img {
  width: 100%;
}
.mainnews h1 {
  margin: 32px 0px  24px  0px;
}
.mainnews p {
  margin-top: 32px;
  color: grey;
}
.sidenews {
  width: 40%;
}
.newscard {
  display: flex;
  padding-left: 16px;
  margin-left: 24px;
}
.newscard:nth-child(2n+2) {
  margin-top: 32px;
  margin-bottom: 16px;
}
.newscard:last-child {
  background-color: lightgrey;
  padding: 16px 0px 16px 16px;
}
.newscardimg {
  width: 35%;
}
.newscardimg img {
  width: 100%;
}
.sidenewstext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 24px;
}
.sidenewstext h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 1.4;
}
.sidenewstext h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "lobster";
}
.learning {
  background-image: linear-gradient(to top, white, lightgrey);
  min-width: 100% ;
  padding-bottom: 32px;
}
.learning h1 {
  text-align: center;
  padding-top: 32px;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0.8px 0.8px white;
}
.learningblock  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1006px;
  height: auto;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 auto;
}
.learningcard {
  background-color: white;
  width: 314px;
  height: auto;
  box-shadow: 0 10px 12px rgba(42, 77, 110, 0.9);
  margin-top: 32px;
}
.learningimg {
  width: 100%;
}
.learningimg img {
  max-width: 100%;
  height: auto;
}
.learningcard h2, .learningcard h3, .learningcard p {

}
.learningcard h2 {
  margin-top: 16px;
  margin-left: 16px;
}
.learningcard h3 {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.learningcard p {
  margin-left: 16px;
  padding-bottom: 24px;
}
h5 {
  text-align: center;
  margin-top: 32px;
  font-weight: bold;
  font-size: 3rem;
}
.newsimg video {
  width: 100%;
}
.grey {
  background-color: lightgrey;
  padding: 16px 0px 16px 16px;
}
.newscard.white  {
  background-color: white;
  margin-top: 0px;
}
footer {
  display: flex;
  justify-content: space-between;
  color: lightgrey;
  margin-bottom: 16px;
}
footer p {
  margin-left: 24px;
  margin-right: 24px;
}
@media (max-width: 426px) {
  #PC {
    display: none;
  }
  #MOBILE {
    display: flex;
  }
  .moptions {
    width: 100%;
  }
  #MOBILE .moptions {
    display: flex;
    justify-content: space-around;
  }
  .banner {
    flex-wrap: wrap;
  }
  .bannerimg {
    width: 100%;
    margin-left: 0px;
  }
  .bannertext {
    margin-left: 16px;
    width: 100%;
  }
  .bannertext h1 {
    font-size: 3.6rem;
  }
  .mainnews.first {
    display: none;
  }
  .banner h2 {
    text-align: center;
  }
  .newscardimg {
    width: 100%;
  }
  .sidenews {
    width: 100%;
  }
  .newscard {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    margin-right: 16px;
  }
  .newscard:last-child {
    background-color: white;
  }
  .sidenewstext {
    width: 100%;
    margin-left: 16px;
    margin-top: 32px;
  }
  .learningimg, .learningblock h3, .learningblock p {
    display: none;
  }
  .learningcard h2 {
    text-align: left;
    margin: 16px;
  }
  .learningblock {
    justify-content: center;
  }
  .news.second .sidenews {
    display: none;
  }
  .news.second h1, .news.second h2 {
    display: none;
  }
  .news.second {
    margin-bottom: 0px;
  }
  .news.second .mainnews {
    max-width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
  footer {
    margin-bottom: 16px;
    color: lightgrey;
    font-size: 0.5rem;
  }
}
