html {
  font-family: sans-serif;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
img {
  max-width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}
.logo span {
  color: grey;
  font-weight: lighter;
}
.options {
  display: flex;
  margin-right: 16px;
}
.options h3 {
  margin-left: 8px;
  margin-right: 8px;
}
.banner {
  width: 100%;
  background-image: linear-gradient(to top, white, black);
  display: flex;
}
.content {
  margin-top: 32px;
  display: flex;
  width: 100%;
}
.bannerimg {
  width: 60%;
  margin-left: 24px;
}
.banner img {
  width: 100%;
  margin-bottom: 32px;
}
.bannertext {
  width: 30%;
  margin-left: 48px;
  align-self: center;

}
.banner h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0.8px 0.8px white;
}
.banner h1 span {
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px black;
  text-decoration-color: black;
}
.banner h1 span:hover {
  text-decoration: underline;
  color: black;
  text-shadow: 0.8px 0.8px white;
  text-decoration-color: white;
  transition: color 0.3s linear 0s;
}
.banner h2 {
  font-size: 2rem;
  margin-top: 5px;
  font-family: 'lobster', "cursive";
  font-weight: ;
  text-align: right;
  visibility: hidden;
}
.bannertext:hover  .bannertext h2 {
  visibility: visible;
  transition: visible 0.3 linear 0s;
}
.banner button {
  margin-top: 15px;
  padding: 8px 38%;
  border-radius: 5px;
  font-size: 1.2rem;
}
.news {
  display: flex;
  width: 100%;
  margin-top: 32px;
}
.mainnews {
  width: 60%;
  margin-left: 24px;
}
.mainnews img {
  width: 100%;
  height: auto;
}
.sidenews {
  margin-left: 24px;
  width: 40%;
}
.newscard {
  display: flex;
  margin-left: 16px;
}
.newscard:nth-child(2n+2) {
  margin: 32px 16px;
}
.newscard img {
  width: 35%;
}
.sidenewstext {
  width: 65%;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidenewstext h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 1.4;
}



video {
  width: 60%;
}
